<ngb-carousel>
  <ng-template ngbSlide>
    <img src="assets/Generic4.jpg" style="max-height: 400px; width: auto;" alt="Random first slide">
    <div class="carousel-caption">
      <h3>Not Our Idea of Paddling</h3>
      <p>This is NOT what we are about.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/Generic2.jpg" style="max-height: 400px; width: auto;" alt="Random first slide">
    <div class="carousel-caption">
      <h3>Our Idea of Paddling</h3>
      <p></p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/Generic3.jpg" style="max-height: 400px; width: auto;" alt="Random first slide">
    <div class="carousel-caption">
      <h3>Out Idea of Paddling</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
</ngb-carousel>
