<footer style="background-color: lightgrey; color:black">
  <div style="text-align: center">{{name}}</div>
  <div *ngIf='address1 && address1.length > 0' style="text-align: center">{{address1}}</div>
  <div *ngIf='address2 && address2.length > 0' style="text-align: center">{{address2}}</div>
  <div *ngIf='city_state_zip.length > 3' style="text-align: center">{{city_state_zip}}</div>


  <div style="text-align: center">
    <a href='tel:{{phone}}'>Contact: {{phone}}</a>
    <a *ngIf='fax && fax.length > 0' href='tel:{{fax}}'> | Contact: {{fax}}</a>
  </div>
  <div class='col-lg-6'>
    <p>&copy; 2018 - R & R Engineering, LLC</p>
  </div>
</footer>
