<footer style="background-color: lightgrey; color:black">
  <div style="text-align: center">Holistic Medical Services</div>
  <div style="text-align: center">Tuxedo Atrium</div>
  <div style="text-align: center">3833 Roswell Rd. NE, Suite 116</div>
  <div style="text-align: center">Atlanta, GA 30342</div>
  <div style="text-align: center">
    <a href='tel:404.941.8621'>Contact: 404.941.8621</a>
  </div>
  <div class='col-lg-6'>
    <p>&copy; 2018 - R & R Engineering, LLC</p>
  </div>
</footer>
